#choose{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   background-color: white;
    height: 100vh;

    a{
       
        font-size: 50px;
        margin-right: 20px;
    }
           
       
}